In [1]:
library(stringr)

In [2]:
options(warn = -1)
options(repr.plot.width=15, repr.plot.height=9) 
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

# 함수 (function)
- 함수는 코드의 집합이다.

In [3]:
# 주요 내장 함수
vec <- 10:20

min(vec) #최소값
max(vec) #최대값
mean(vec) #평균
median(vec) # 중앙값
sum(vec) #합계
sd(vec) #표준편차
summary(vec) #기본통계량
table(vec) #빈도수
range(vec) #범위값

[1] 10

[1] 20

[1] 15

[1] 15

[1] 165

[1] 3.316625

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   10.0    12.5    15.0    15.0    17.5    20.0

vec
10 11 12 13 14 15 16 17 18 19 20
 1  1  1  1  1  1  1  1  1  1  1

[1] 10 20

# 기술통계량을 계산하는 함수 정의

In [4]:
# test.csv를 읽어서 test라는 벡터 변수에 넣기
test <- read.csv('./Data/test.csv')
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [5]:
# test의 자료 구조 확인하기

str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [6]:
# test 기본 통계량 보기

summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [7]:
# A 컬럼의 최댓값, 최소값, 빈도수

max(test$A)

min(test$A)

table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [8]:
# 각 컬럼의 빈도수 구하기

for(i in 1:ncol(test)){
    cat(colnames(test)[i],"번째 컬럼의 빈도 분석 결과")
    print(table(test[,i]))
    cat("----------------------\n")
}

A 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
----------------------
B 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
----------------------
C 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
----------------------
D 번째 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
----------------------
E 번째 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
----------------------

In [9]:
colnames(test)[1]

[1] "A"

In [10]:
# 각 컬럼의 빈도수의 최대값, 최소값 구하기
for(i in 1:ncol(test)){
    cat(colnames(test)[i],"번째 컬럼의 빈도 분석 결과\n")
    cat("최대값 :",max(table(test[i])),"최소값 :",min(table(test[i])),"\n")
    cat("----------------------\n")
}

A 번째 컬럼의 빈도 분석 결과
최대값 : 156 최소값 : 3
----------------------
B 번째 컬럼의 빈도 분석 결과
최대값 : 150 최소값 : 7
----------------------
C 번째 컬럼의 빈도 분석 결과
최대값 : 176 최소값 : 3
----------------------
D 번째 컬럼의 빈도 분석 결과
최대값 : 178 최소값 : 30
----------------------
E 번째 컬럼의 빈도 분석 결과
최대값 : 160 최소값 : 8
----------------------

In [11]:
# 구구단 출력함수

x <- c(2:3) # 단
y <- c(1:5) # 곱해지는 수

gugu <- function(x, y){
    for(i in x){
        for(j in y){
            cat(i, "X ", j ,"=", i *j,"\n")
        }
    }
}

gugu(x,y)

2 X  1 = 2
2 X  2 = 4
2 X  3 = 6
2 X  4 = 8
2 X  5 = 10
3 X  1 = 3
3 X  2 = 6
3 X  3 = 9
3 X  4 = 12
3 X  5 = 15

# 결측치(NA) 자료 평균 계산

In [12]:
data <- c(10, 20, 5, 4, 40, 7, NA, 6, 3, NA, 2, NA)

In [13]:
mean(data)

[1] NA

In [14]:
# NA의 갯수 구하기

sum(is.na(data))
table(is.na(data))

[1] 3

FALSE  TRUE
    9     3

In [15]:
# *********************************************************
# 결측치를 무조건 제거하면 통계량을 얻을수 없으며 , 데이터 손실로 문제 발생
# *********************************************************
# 결측치를 제거하고 편균구하기

mean(data, na.rm = T)

[1] 10.77778

In [16]:
# 1) NA를 0으로 대체하여 평균 구해보기

mean(ifelse(is.na(data) ,0 , data))

[1] 8.083333

In [17]:
# 2) NA를 평균으로 대체하여 평균 구해보기
ifelse(is.na(data) , mean(data, na.rm = T), data)
mean(ifelse(is.na(data) , mean(data, na.rm = T), data))

 [1] 10.00000 20.00000  5.00000  4.00000 40.00000  7.00000 10.77778  6.00000
 [9]  3.00000 10.77778  2.00000 10.77778

[1] 10.77778

In [18]:
# 3) NA를 중앙값으로 대체하여 평균 구해보기
ifelse(is.na(data) , median(data, na.rm = T), data)
mean(ifelse(is.na(data) , median(data, na.rm = T), data))

 [1] 10 20  5  4 40  7  6  6  3  6  2  6

[1] 9.583333

In [19]:
# 4) NA를 최소값으로 대체하여 평균 구해보기
ifelse(is.na(data) , min(data, na.rm = T), data)
mean(ifelse(is.na(data) , min(data, na.rm = T), data))

 [1] 10 20  5  4 40  7  2  6  3  2  2  2

[1] 8.583333

In [20]:
# 5) NA를 최대값으로 대체하여 평균 구해보기
ifelse(is.na(data) , max(data, na.rm = T), data)
mean(ifelse(is.na(data) , max(data, na.rm = T), data))

 [1] 10 20  5  4 40  7 40  6  3 40  2 40

[1] 18.08333

In [21]:
summary(data)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   2.00    4.00    6.00   10.78   10.00   40.00       3

In [22]:
# 6) NA를 1사분위수로 대체하여 평균 구해보기
ifelse(is.na(data) , quantile(data, 0.25, na.rm = T), data)
mean(ifelse(is.na(data) , quantile(data, 0.25, na.rm = T), data))

 [1] 10 20  5  4 40  7  4  6  3  4  2  4

[1] 9.083333

In [23]:
# 7) NA를 3사분위수로 대체하여 평균 구해보기
ifelse(is.na(data) , quantile(data, 0.75, na.rm = T), data)
mean(ifelse(is.na(data) , quantile(data, 0.75, na.rm = T), data))

 [1] 10 20  5  4 40  7 10  6  3 10  2 10

[1] 10.58333

# 시뮬레이션
### 동전의 앞면 뒷면 시뮬레이션

In [24]:
x <- runif(1)

if(x <= 1/2){
    result = 0 # 앞면
}else{
    result = 1 # 뒷면
}

result

[1] 0

In [25]:
coin <- function(n){
    count1 <- 0 #앞면
    count2 <- 0 #뒷면

    for(i in 1:n){
        if(runif(1) <= 1/2){
            count1 = count1 +1
        }else{
            count2 = count2 +1
        }

    }
    cat("앞면 :", count1, "\n")
    cat("뒷먄 :", count2, "\n")
    cat("-------------------\n")
}

In [26]:
coin(10)
coin(100)
coin(1000)
coin(10000)
coin(100000)
coin(1000000)
coin(10000000)

앞면 : 6
뒷먄 : 4
-------------------
앞면 : 53
뒷먄 : 47
-------------------
앞면 : 515
뒷먄 : 485
-------------------
앞면 : 5026
뒷먄 : 4974
-------------------
앞면 : 50082
뒷먄 : 49918
-------------------
앞면 : 499673
뒷먄 : 500327
-------------------
앞면 : 5002214
뒷먄 : 4997786
-------------------

In [28]:
# 가위 바위 보 시뮬레이션

rsp <- function(n){
    rock <- 0
    sis <- 0
    paper <- 0
    
    for(i in 1:n){
        x <- trunc(runif(1) * 3) + 1
        if(x==1) rock = rock + 1
        if(x==1) sis = sis + 1
        if(x==1) paper = paper + 1
    }
    cat("바위 :", rock, "\n")
    cat("가위 :", sis, "\n")
    cat("보 :", paper, "\n")
    cat("-------------------\n")
    }

In [30]:
rsp(10)
rsp(100)
rsp(1000)
rsp(10000)
rsp(100000)
rsp(1000000)
rsp(10000000)
rsp(100000000)

바위 : 4
가위 : 4
보 : 2
-------------------
바위 : 41
가위 : 32
보 : 27
-------------------
바위 : 321
가위 : 469
보 : 210
-------------------
바위 : 3385
가위 : 4399
보 : 2216
-------------------
바위 : 33322
가위 : 44623
보 : 22055
-------------------
바위 : 333669
가위 : 444198
보 : 222133
-------------------
바위 : 3336342
가위 : 4441928
보 : 2221730
-------------------
바위 : 33326438
가위 : 44443884
보 : 22229678
-------------------

In [53]:
dice <- function(n){
    counts <- rep(0,6)
    cat("Throw :", n ,"\n")
    for(i in 1:n){ 
        x <- trunc(runif(1)*6)+1
        counts[x] <- counts[x]+1

    
    }
    for(i in 1:length(counts)){
        cat("No",i,":",counts[i],"\n")}
        cat("-------------------\n")
    
}

In [54]:
dice(10)
dice(100)
dice(1000)
dice(10000)
dice(100000)

Throw : 10
No 1 : 4
No 2 : 0
No 3 : 1
No 4 : 1
No 5 : 2
No 6 : 2
-------------------
Throw : 100
No 1 : 10
No 2 : 14
No 3 : 15
No 4 : 20
No 5 : 20
No 6 : 21
-------------------
Throw : 1000
No 1 : 161
No 2 : 179
No 3 : 155
No 4 : 169
No 5 : 178
No 6 : 158
-------------------
Throw : 10000
No 1 : 1672
No 2 : 1623
No 3 : 1643
No 4 : 1609
No 5 : 1721
No 6 : 1732
-------------------

Throw : 1e+05
No 1 : 16717
No 2 : 16792
No 3 : 16535
No 4 : 16794
No 5 : 16452
No 6 : 16710
-------------------